body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
	
.webgl-content .logo, .progress {
	position: absolute;
	left: 50%; top: 50%; 
	-webkit-transform: translate(-50%, -50%); 
	transform: translate(-50%, -50%);
}

.webgl-content .logo {
	background: url('/assets/unity/BuildingsGallery/TemplateData/progressLogo.Light.png') no-repeat center / contain; 
	width: 154px; 
	height: 130px;
}
.webgl-content .progress {height: 18px; 
width: 141px; 
margin-top: 90px;
}
.webgl-content .progress .empty {
	background: url('/assets/unity/BuildingsGallery/TemplateData/progressEmpty.Light.png') no-repeat right / cover; 
	float: right; 
	width: 100%; 
	height: 100%; 
	display: inline-block;
}
.webgl-content .progress .full {
	background: url('/assets/unity/BuildingsGallery/TemplateData/progressFull.Light.png') no-repeat left / cover; 
	float: left;
	width: 0%; 
	height: 100%;
	display: inline-block;
}

.webgl-content .logo.Dark {
	background-image: url('/assets/unity/BuildingsGallery/TemplateData/progressLogo.Dark.png');
}
.webgl-content .progress.Dark .empty {
	background-image: url('/assets/unity/BuildingsGallery/TemplateData/progressEmpty.Dark.png');
}
.webgl-content .progress.Dark .full {
	background-image: url('/assets/unity/BuildingsGallery/TemplateData/progressFull.Dark.png');
}

.webgl-content .footer {
	margin-top: 2px;
	height: 40px;
	line-height: 38px;
	width: 101.6%;
	font-family: Helvetica, Verdana, Arial, sans-serif; 
	font-size: 18px;
}
.webgl-content .footer .webgl-logo, .title, .fullscreen {
	height: 100%; 
	display: inline-block;
	background: transparent center no-repeat;
	}
.webgl-content .footer .webgl-logo {
	background-image: url('/assets/unity/BuildingsGallery/TemplateData/webgl-logo.png'); 
	width: 204px; 
	float: left;
}
.webgl-content .footer .title {
	margin-right: 10px; 
	float: right;
}
.webgl-content .footer .fullscreen {
	background-image: url('/assets/unity/BuildingsGallery/TemplateData/fullscreen.png'); 
	width: 38px; 
	float: right;
}