---
layout: default
title: Home
unity_dir: BuildingsGallery
---

<div class="textbox">
	Rotate the view with the left mouse button, zoom with the scroll wheel or alt + left mouse button, and pan by clicking and dragging
	the mright mouse button. Vertices can be dragged with left click.</br></br>

	Change the radius up to which the chambers are displayed with the slider. Hovering over a chamber displays the canonical representative element for the stabiliser of the chamber. This is an element of the group such that the stabiliser of the chamber is conjugate to the stabiliser of the fundamental chamber by this element. It consists of a sequence of elements of the form $u(i,j)(k)$ followed by a sequence of simple reflections, the $s_i$. An element $u(i,j)(k)$ is a unipotent matrix with value $k$ on position $(i,j)$ (so over the standard basis $E_{i,j}$ of the space of invertible matrices we have: $u(i,j)(k) = I + kE_{i,j}$).</br></br>

	If you are experiencing performance issues, reduce the display radius of the building.
</div>

{% include page__unity.html %}


{% include tabcontrol.html bodyclass="fullborder" tabs=site.data.tabs id="foo" %}


